.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* ENTREGA 1 y 2 - Pagina de productos */
.tabla0 , .tabla1, .tabla2, .tabla3{
  display: table-cell;
  padding: 30px;
}
.desc{
  width: 490px;
  margin-left: 0px;
  margin-top: 0px;
  text-justify:distribute;
}
.NOMBRE {
  color: black;
  text-align: center;
  font-size: 26pt;
  text-transform: uppercase;
}
img.Imagn {
  border-radius: 10px;
  width: 500px;
  margin-top: 0px;
  margin-left: 0px;
}
div.precio {
  color: rgba(0, 0, 0, 0.904);
  font-weight:lighter;
  font-size: 12pt;
  text-align: left;
  margin-left: 0px;
  margin-top: 0px;
}
div.cant {
  color: dimgray;
  font-size: 9pt;
  text-align: left;
  margin-left: 0px;
}
#busqueda{
  width: 200%;
}
.btn-see-more{
  margin-left: 375px;
}

/* ENTREGA 1 - Login */
.back{
  background-image: url("https://img.freepik.com/free-vector/paper-style-white-monochrome-background_23-2149017129.jpg?size=626&ext=jpg");
  background-size: cover;
  align-content: center;
}
.formulario {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS' ;
}
#mail{
  width: 280px;
  height: 40px;
  border-radius: 5px;
  border-color: rgba(59, 59, 59, 0.89);
  border-width: 1px;
}
#pass{
  width: 280px;
  height: 40px;
  border-radius: 5px;
  border-color: rgba(59, 59, 59, 0.89);
  border-width: 1px;
}
#login{
  width: 80px;
  height: 30px;
  border-radius: 6px;
  background-color: rgba(7, 151, 177, 0.774);
  color: aliceblue;
  border-color: aliceblue;
}
#signin{
  width: 80px;
  height: 30px;
  border-radius: 6px;
  background-color: rgba(7, 151, 177, 0.774);
  color: aliceblue;
  border-color: aliceblue;
}
input.invalid {
  outline: 1px solid rgba(4, 0, 248, 0.897);
  background-color: rgba(110, 207, 224, 0.774);
}

.btn-group{
  border-radius: 4px;
}

.dropdown-menu{
  text-align: center;
}

/* ENTREGA 3 */
.info{
  padding: 50px;
}
.user{
  font-family: sans-serif;
  color: rgb(8, 57, 105);
  size: 10pt;
}
.comments{
  padding: 30px;
  margin-left: 50px;
}
#comentar{
  text-align: center;
  padding: 50px;
}
.center{
  margin-left: 580px;
}
.margn{
  margin-left: 20px;
}
.margn-bttn{
  margin-top: 95px;
  margin-left: 400px;
}
.star-rating {
  direction: rtl;
  display: inline-block;
}

.star-rating input[type=radio] {
  display: none
}

.star-rating label {
  color: rgb(133, 142, 192);
  font-size: 50px;
  padding: 0;
  cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
  color: #ffbf00
}
